{:blocks (
{:block/created-at 1688120956287
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d6689030-1730-11ee-b8e6-13f3d53ed68f"
:noFill true
:point [264.03125 691.875]
:parentId "649df952-8110-496b-afa5-b7cc85bc6de2"
:nonce 1688120901814
:isComplete true}}
:block/updated-at 1688120956287})
:pages (
{:block/uuid #uuid "649df952-8110-496b-afa5-b7cc85bc6de2"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "649df952-8110-496b-afa5-b7cc85bc6de2"
:name "homework 0 statistics"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("d6689030-1730-11ee-b8e6-13f3d53ed68f")}}
:block/updated-at 1688120956287
:block/created-at 1688074578862
:block/type "whiteboard"
:block/name "homework 0 statistics"
:block/original-name "Homework 0 statistics"})}