{:blocks (
{:block/created-at 1688208954933
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 0
:scale [1 1]
:type "image"
:assetId "ceb2c090-17fd-11ee-80bc-4b7e76eaf2fb"
:size [1317 998]
:opacity 1
:id "ceb99e60-17fd-11ee-80bc-4b7e76eaf2fb"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [40 -192]
:parentId "649df952-8110-496b-afa5-b7cc85bc6de2"
:nonce 1688208935875
:clipping 0}}
:block/updated-at 1688208954933} 
{:block/created-at 1688210264421
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [57 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "dd350490-1800-11ee-80bc-4b7e76eaf2fb"
:padding 4
:fontWeight 400
:noFill true
:point [1136 -120]
:lineHeight 1.2
:fontSize 20
:parentId "649df952-8110-496b-afa5-b7cc85bc6de2"
:nonce 1688210248552
:italic false
:text "ijlkjlk"}}
:block/updated-at 1688210264421})
:pages (
{:block/uuid #uuid "649df952-8110-496b-afa5-b7cc85bc6de2"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "649df952-8110-496b-afa5-b7cc85bc6de2"
:name "homework 0 fundamentals of statistics"
:bindings 
{}
:nonce 1
:assets [
{:id "ceb2c090-17fd-11ee-80bc-4b7e76eaf2fb"
:type "image"
:src "../assets/image_1688208935283_0.png"
:size [2634 1996]}]
:shapes-index ("ceb99e60-17fd-11ee-80bc-4b7e76eaf2fb" "dd350490-1800-11ee-80bc-4b7e76eaf2fb")}}
:block/updated-at 1688210264421
:block/created-at 1688074578862
:block/type "whiteboard"
:block/name "homework 0 fundamentals of statistics"
:block/original-name "Homework 0 Fundamentals of statistics"})}