{:blocks (
{:block/content "## Systems of equations\n![image.png](../assets/image_1689022674097_0.png)\n![image.png](../assets/image_1689024615227_0.png)\n![image.png](../assets/image_1689031058147_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64ab277e-959f-40c8-9070-73ee404ab75d"} 
{:block/created-at 1689426278431
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64ab277e-959f-40c8-9070-73ee404ab75d"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 627.9999961557698]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "166989c0-1ea0-11ee-b2bd-ad0a84e4036d"
:noFill false
:point [104 80]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1688938341815}}
:block/updated-at 1689426278431} 
{:block/content "## Matrix row reduction.\n![image.png](../assets/image_1689031534804_0.png)\n![image.png](../assets/image_1689032120359_0.png){:height 181, :width 376}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64ab277e-959f-40c8-9070-73ee404ab75d"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64ac936c-dae8-4128-97d7-a3a09400d2a9"} 
{:block/created-at 1689426278435
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "64ac936c-dae8-4128-97d7-a3a09400d2a9"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 424.3124943813202]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "02010830-1f79-11ee-a919-83cb8cda5630"
:noFill false
:point [560 88]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1689031508140}}
:block/updated-at 1689426278435} 
{:block/created-at 1689196506382
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "217431e0-2011-11ee-abea-9bfb4b03669b"
:noFill true
:point [1216 723]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689096844290
:isComplete true}}
:block/updated-at 1689196506382} 
{:block/created-at 1689196506384
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "purple"
:index 3
:scale [1 1]
:scaleLevel "md"
:fill "purple"
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ed5de2b0-2011-11ee-abea-9bfb4b03669b"
:noFill true
:point [1588 808]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689097186399
:isComplete true}}
:block/updated-at 1689196506384} 
{:block/content "## Row operations preserving singularity\nadding rows, multiplying rows and switching rows"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64ac936c-dae8-4128-97d7-a3a09400d2a9"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64adb147-108d-4587-a135-5d6211a2294c"} 
{:block/created-at 1689196506386
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "gray"
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "64adb147-108d-4587-a135-5d6211a2294c"
:scaleLevel "xs"
:fill "gray"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [280 43.5]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56d57d00-2023-11ee-abea-9bfb4b03669b"
:noFill false
:point [528 536]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1689104664968}}
:block/updated-at 1689196506386} 
{:block/created-at 1689196702956
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "gray"
:index 5
:scale [1 1]
:scaleLevel "xs"
:fill "gray"
:type "pencil"
:points [[0 0 0.5] [0.7999999999999545 0 0.5]]
:strokeType "line"
:strokeWidth 1
:opacity 1
:id "acb16610-2025-11ee-abea-9bfb4b03669b"
:noFill true
:point [570.78375 1193.8956249999999]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689105667830
:isComplete true}}
:block/updated-at 1689196702956} 
{:block/created-at 1689236961829
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "pencil"
:points [[0.8000000000000682 5.599999999999909 0.5] [0 0 0.5]]
:strokeType "line"
:strokeWidth 1
:opacity 1
:id "958276c0-2028-11ee-abea-9bfb4b03669b"
:noFill true
:point [725.155625 2421.964375]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689106917426
:isComplete true}}
:block/updated-at 1689236961829} 
{:block/created-at 1689236961830
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "pencil"
:points [[0.7999999999999545 0 0.5] [0 0 0.5]]
:strokeType "line"
:strokeWidth 1
:opacity 1
:id "c751c6b0-2028-11ee-abea-9bfb4b03669b"
:noFill true
:point [1014.755625 2372.364375]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689107000993
:isComplete true}}
:block/updated-at 1689236961830} 
{:block/created-at 1689236961829
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "pencil"
:points [[0 0 0.5] [1.21875 0.9437500000003638 0.5]]
:strokeType "line"
:strokeWidth 1
:opacity 1
:id "208e2df0-202d-11ee-abea-9bfb4b03669b"
:noFill true
:point [1167.880625 3014.6675000000005]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689108868693
:isComplete true}}
:block/updated-at 1689236961829} 
{:block/created-at 1689236961829
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "pencil"
:points [[0 0 0.5] [0.759375000000091 6.484375 0.5]]
:strokeType "line"
:strokeWidth 1
:opacity 1
:id "20687d80-202d-11ee-abea-9bfb4b03669b"
:noFill true
:point [1168.49 3002.5081250000007]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:nonce 1689108868446
:isComplete true}}
:block/updated-at 1689236961829} 
{:block/content "## Rank of a matrix\nrank is space a matrix fills\n![image.png](../assets/image_1689113239442_0.png)\n![image.png](../assets/image_1689113411540_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64adb147-108d-4587-a135-5d6211a2294c"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64adc84c-276c-4336-af50-e0d4c0c5ca2f"} 
{:block/created-at 1689426278441
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "64adc84c-276c-4336-af50-e0d4c0c5ca2f"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 479.0000782677437]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1d5d3c80-2031-11ee-abea-9bfb4b03669b"
:noFill false
:point [560 648]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1689110581370}}
:block/updated-at 1689426278441} 
{:block/content "## Row echelon\n![image.png](../assets/image_1689428000714_0.png)\n ![image.png](../assets/image_1689428133330_0.png)\n![image.png](../assets/image_1689429063206_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64af0cf1-f21b-4e40-b9de-41a8cc160d22"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64af1930-48ea-4f27-9291-6209444950d3"} 
{:block/created-at 1689428225211
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 12
:scale [1 1]
:pageId "64af1971-bdcb-4da0-af7c-db7e71fbb33c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 777.3436739250924]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "169ec200-20fa-11ee-b67f-efb24ab3beb1"
:noFill false
:point [568 1144]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1689196899271}}
:block/updated-at 1689428225211} 
{:block/content "## Reduced row echelon\nid:: 64af1971-bdcb-4da0-af7c-db7e71fbb33c\n![image.png](../assets/image_1689287495598_0.png)\n![image.png](../assets/image_1689287600852_0.png)\n![image.png](../assets/image_1689287670476_0.png){:height 178, :width 376}\n![image.png](../assets/image_1689287816323_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64af1930-48ea-4f27-9291-6209444950d3"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/properties 
{:id "64af1971-bdcb-4da0-af7c-db7e71fbb33c"
:heading 2}
:block/uuid #uuid "64af1971-bdcb-4da0-af7c-db7e71fbb33c"} 
{:block/created-at 1689429065401
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 11
:scale [1 1]
:pageId "64af1930-48ea-4f27-9291-6209444950d3"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 659.9765778300335]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cb58bd00-20f9-11ee-b67f-efb24ab3beb1"
:noFill false
:point [88 744]
:parentId "64ab07db-ae54-4328-9592-98724c89fdf4"
:collapsedHeight 0
:nonce 1689196772696}}
:block/updated-at 1689429065401} 
{:block/content "## Row echelon"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64adc84c-276c-4336-af50-e0d4c0c5ca2f"}
:block/parent 
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"}
:block/uuid #uuid "64af0cf1-f21b-4e40-b9de-41a8cc160d22"})
:pages (
{:block/uuid #uuid "64ab07db-ae54-4328-9592-98724c89fdf4"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64ab07db-ae54-4328-9592-98724c89fdf4"
:name "ml math linear algebra w2"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("166989c0-1ea0-11ee-b2bd-ad0a84e4036d" "02010830-1f79-11ee-a919-83cb8cda5630" "217431e0-2011-11ee-abea-9bfb4b03669b" "ed5de2b0-2011-11ee-abea-9bfb4b03669b" "56d57d00-2023-11ee-abea-9bfb4b03669b" "acb16610-2025-11ee-abea-9bfb4b03669b" "958276c0-2028-11ee-abea-9bfb4b03669b" "c751c6b0-2028-11ee-abea-9bfb4b03669b" "20687d80-202d-11ee-abea-9bfb4b03669b" "208e2df0-202d-11ee-abea-9bfb4b03669b" "1d5d3c80-2031-11ee-abea-9bfb4b03669b" "cb58bd00-20f9-11ee-b67f-efb24ab3beb1" "169ec200-20fa-11ee-b67f-efb24ab3beb1")}}
:block/updated-at 1689429065401
:block/created-at 1688930267023
:block/type "whiteboard"
:block/name "ml math linear algebra w2"
:block/original-name "ml math linear algebra w2"})}