{:blocks (
{:block/content "## Norm of a vector\n![image.png](../assets/image_1689717805733_0.png)\n![image.png](../assets/image_1689717948112_0.png)\n![image.png](../assets/image_1690018951785_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64b70c2b-a4ee-447a-9482-70f5e8dc1d26"} 
{:block/created-at 1690235287644
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64b70c2b-a4ee-447a-9482-70f5e8dc1d26"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 637.3593492522542]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e545da60-25b6-11ee-8bf3-a7a741849c6b"
:noFill false
:point [-56 304]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1689717795708}}
:block/updated-at 1690235287644} 
{:block/content "## Geometric dot product\n![image.png](../assets/image_1690134961263_0.png)\n![image.png](../assets/image_1690135077527_0.png)\n![image.png](../assets/image_1690135137382_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64b70c2b-a4ee-447a-9482-70f5e8dc1d26"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bd6969-054c-4262-ac33-fbf090c6ab27"} 
{:block/created-at 1690235287649
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "64bd6969-054c-4262-ac33-fbf090c6ab27"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 615.8203049994821]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f9e098b0-2981-11ee-ab1f-c7cf24efaafe"
:noFill false
:point [424 328]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690134871510}}
:block/updated-at 1690235287649} 
{:block/content "## multiplying a matrix by a vector\n![image.png](../assets/image_1690135338223_0.png)\n![image.png](../assets/image_1690135366231_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bd6969-054c-4262-ac33-fbf090c6ab27"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bd6ad4-f87a-489f-9dd8-f518d8ec43c5"} 
{:block/created-at 1690235287654
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "64bd6ad4-f87a-489f-9dd8-f518d8ec43c5"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 447.81260974349385]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cadf1950-2982-11ee-ab1f-c7cf24efaafe"
:noFill false
:point [-48 984]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690135222137}}
:block/updated-at 1690235287654} 
{:block/content "## Matrices as Linear transformations\n![image.png](../assets/image_1690142573082_0.png)\n![image.png](../assets/image_1690143721183_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bd6ad4-f87a-489f-9dd8-f518d8ec43c5"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bd8370-d13b-4b98-ba10-d797ab1b5ea9"} 
{:block/created-at 1690235287678
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "64bd8370-d13b-4b98-ba10-d797ab1b5ea9"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 487.9608780942363]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "73fb7480-2991-11ee-ab1f-c7cf24efaafe"
:noFill false
:point [496 1008]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690141518816}}
:block/updated-at 1690235287678} 
{:block/content "## Matrix multiplication\n![image.png](../assets/image_1690235405298_0.png)\n![image.png](../assets/image_1690235488623_0.png)\nMatrix multiplied by vector (hence the order)\n![image.png](../assets/image_1690235596770_0.png)\n2 linear transformations into a third"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bd8370-d13b-4b98-ba10-d797ab1b5ea9"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bef1b9-3be7-4718-ac67-1bde04a9722c"} 
{:block/created-at 1690235634464
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "64bef1b9-3be7-4718-ac67-1bde04a9722c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 687.609375]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ca452360-2a6b-11ee-a66c-df7b0f2a25ab"
:noFill false
:point [-40 1480]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690235293890}}
:block/updated-at 1690235634464} 
{:block/content "## Identity Matrix\nmultiplied by a matrix give the same matrix\n![image.png](../assets/image_1690235716773_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bef1b9-3be7-4718-ac67-1bde04a9722c"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bef30f-57af-454d-a0d8-45a70138b4ce"} 
{:block/created-at 1690235718073
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "64bef30f-57af-454d-a0d8-45a70138b4ce"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 279.203125]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9a866e80-2a6c-11ee-a66c-df7b0f2a25ab"
:noFill false
:point [480 1536]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690235643251}}
:block/updated-at 1690235718073} 
{:block/content "## Inverse of a matrix\n![image.png](../assets/image_1690267110641_0.png)\n![image.png](../assets/image_1690267401868_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bef30f-57af-454d-a0d8-45a70138b4ce"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bf6da5-7cf6-4b20-89b8-95f3f3a1d4ae"} 
{:block/created-at 1690272931253
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "64bf6da5-7cf6-4b20-89b8-95f3f3a1d4ae"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 447.40625]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a7cbc2e0-2ab5-11ee-a66c-df7b0f2a25ab"
:noFill false
:point [480 1824]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690267019049}}
:block/updated-at 1690272931253} 
{:block/content "## Neural networks and matrices\n![image.png](../assets/image_1690272958721_0.png)\n![image.png](../assets/image_1690273214176_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64bf6da5-7cf6-4b20-89b8-95f3f3a1d4ae"}
:block/parent 
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"}
:block/properties 
{:heading 2}
:block/uuid #uuid "64bf84bc-ee6f-474f-8f70-c6b382d90e0d"} 
{:block/created-at 1690273216616
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "64bf84bc-ee6f-474f-8f70-c6b382d90e0d"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 447.40625]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6e4a81b0-2ac3-11ee-a66c-df7b0f2a25ab"
:noFill false
:point [8 2224]
:parentId "64b7063d-394f-4f01-9ff2-de6a501f462f"
:collapsedHeight 0
:nonce 1690272935259}}
:block/updated-at 1690273216616})
:pages (
{:block/uuid #uuid "64b7063d-394f-4f01-9ff2-de6a501f462f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64b7063d-394f-4f01-9ff2-de6a501f462f"
:name "ml math linear algebra w3"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("e545da60-25b6-11ee-8bf3-a7a741849c6b" "f9e098b0-2981-11ee-ab1f-c7cf24efaafe" "cadf1950-2982-11ee-ab1f-c7cf24efaafe" "73fb7480-2991-11ee-ab1f-c7cf24efaafe" "ca452360-2a6b-11ee-a66c-df7b0f2a25ab" "9a866e80-2a6c-11ee-a66c-df7b0f2a25ab" "a7cbc2e0-2ab5-11ee-a66c-df7b0f2a25ab" "6e4a81b0-2ac3-11ee-a66c-df7b0f2a25ab")}}
:block/updated-at 1690273216615
:block/created-at 1689716285090
:block/type "whiteboard"
:block/name "ml math linear algebra w3"
:block/original-name "ml math linear algebra w3"})}