{:highlights [{:id #uuid "671e9964-40e9-417d-b7f9-d2e9a44cf081",
               :page 671,
               :position {:bounding {:x1 309.3125,
                                     :y1 402.00148010253906,
                                     :x2 410.949951171875,
                                     :y2 417.2395706176758,
                                     :width 716.9999999999999,
                                     :height 896.2499999999999},
                          :rects ({:x1 309.3125,
                                   :y1 402.00148010253906,
                                   :x2 410.949951171875,
                                   :y2 417.2395706176758,
                                   :width 716.9999999999999,
                                   :height 896.2499999999999}),
                          :page 671},
               :content {:text "te ﬁrst, then recurs"},
               :properties {:color "yellow"}}],
 :extra {:page 716}}
