{:highlights [{:id #uuid "66ccc2b4-9d92-4b65-ac30-8c4744b68564",
               :page 1,
               :position {:bounding {:x1 78.39286041259766,
                                     :y1 332.9732360839844,
                                     :x2 329.5970153808594,
                                     :y2 518.857177734375,
                                     :width 713.9999999999999,
                                     :height 923.9999999999999},
                          :rects ({:x1 78.39286041259766,
                                   :y1 332.9732360839844,
                                   :x2 329.319580078125,
                                   :y2 344.9732360839844,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 344.4285888671875,
                                   :x2 329.57733154296875,
                                   :y2 356.4285888671875,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 356.2589416503906,
                                   :x2 329.5663146972656,
                                   :y2 368.2589416503906,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 367.71429443359375,
                                   :x2 329.54290771484375,
                                   :y2 379.71429443359375,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 379.4464416503906,
                                   :x2 329.56817626953125,
                                   :y2 391.4464416503906,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 391.1875305175781,
                                   :x2 329.2895202636719,
                                   :y2 403.1875305175781,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 402.7321472167969,
                                   :x2 329.5663146972656,
                                   :y2 414.7321472167969,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 414.46429443359375,
                                   :x2 329.5663146972656,
                                   :y2 426.46429443359375,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 425.9285888671875,
                                   :x2 329.5970153808594,
                                   :y2 437.9285888671875,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 437.6607360839844,
                                   :x2 329.5237731933594,
                                   :y2 449.6607360839844,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 449.21429443359375,
                                   :x2 329.5589904785156,
                                   :y2 461.21429443359375,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 460.9464416503906,
                                   :x2 329.31787109375,
                                   :y2 472.9464416503906,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 78.39286041259766,
                                   :y1 472.40179443359375,
                                   :x2 305.2206726074219,
                                   :y2 484.40179443359375,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 158.21429443359375,
                                   :y1 504.0000305175781,
                                   :x2 244.72695922851562,
                                   :y2 518.857177734375,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}
                                  {:x1 244.68751525878906,
                                   :y1 504.7410888671875,
                                   :x2 249.7300262451172,
                                   :y2 512.7410888671875,
                                   :width 713.9999999999999,
                                   :height 923.9999999999999}),
                          :page 1},
               :content {:text " lo okup tables, or \\pattern databases\" (Culb erson and Schae er 1996). These tables store the exact numb er of moves required to solve various subgoals of the problem, in this case subsets of the individu al movable cubies. We characterize the e ectiveness of an admissible heuristic function by its exp ected value, and hyp othesize that the overall p erformance of the program ob eys a relation in which the pro duct of the time and space used equals the size of the state space. Thus, the sp eed of the program increases linearly with the amount of memory available. As computer memories b ecome larger and cheap er, we b elieve that this approach will b ecome increasingly cost-e ective. Intro duction1"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
